﻿@model Elmboard.Areas.Users.ViewModels.UserRolesViewModel

<div class="card-block">
    <div class="card-title-block">
        <h3 class="title mb-4">ROLES</h3>        
    </div>
    <div class="table-responsive">
        <table id="user-roles-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UserRoles)
                {
                    <tr>                    
                        <td>@item.RoleNameListItem</td>
                        <td>
                            <a href="#" data-user-id="@Model.UserId"
                               data-role-id="@item.RoleIdListItem"
                               class="js-delete">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-title-block">
        <h3 class="title my-4">Assign Role</h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessageFor(m => m.Roles, "", new { @class = "has-error mb-3" })
        <div class="form-group">
            <div class="table-responsive">
                <table class="table">
                    <tr class="form-group">
                        <td>@Html.DropDownList("roleId", Model.Roles, "", new {
                           @class = "form-control boxed my-2 select2"})</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <input id="submit-user-role" type="button" value="Save" class="btn btn-primary" />
        </div>
    }
</div>
