﻿@media (max-width: 767.98px) {
    .header .header-block-collapse {
        width: 50px !important;
    }
}

.settings-container,
.manage-header {
    padding: 2rem;
}

.manage-card {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
}

.has-error {
    color: #FF4444 !important;
    font-size: 13px;
    display: block !important;
}

.text-success {
    color: #4bcf99 !important;
    font-size: 13px;
    display: block !important;
}

.text-warning {
    color: #fe974b !important;
    font-size: 13px;
    display: block !important;
}

/*hack for not displaying file input*/

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
    pointer-events: none;
}

/*jquery-ui datepicker*/
.ui-widget {
    font-family: 'Open Sans';
}

    .ui-widget select {
        font-family: 'Open Sans';
    }

.ui-datepicker-calendar thead {
    font-family: 'Open Sans';
    font-size: 0.8em;
}

.ui-widget-header {
    border: 0;
    background: #ffffff;
}

.ui-datepicker-month,
.ui-datepicker-year {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color none 0;
    outline-color: -webkit-focus-ring-color;
    outline-style: none;
    outline-width: 0;
}

    .ui-datepicker-month:focus,
    .ui-datepicker-year:focus,
    .ui-datepicker-month:active,
    .ui-datepicker-year:active {
        border: 1px solid #0094ff;
    }

/*jquery-ui datepicker day table cell (<a>) color*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    background: #f0f3f6;
}


/*summernote reach text editor*/
.note-editor.note-frame {
    border: 1px solid #ced4da !important;
}

.note-icon-bold {
    color: #4f5f6f !important;
}

.note-btn-group i {
    color: #4f5f6f !important;
}

.note-btn-group button {
    background-color: #f0f3f6 !important;
}

/*hack for summernote bug displaying popovers*/
.note-popover {
    display: none !important;
}

/*relationships dropdowns*/
.relationship-dropdowns-header {
    width: 35%;
}

/*relationships dropdowns - select2*/
.select2,
.select2-container,
.select2-container--default,
.select2-container--below,
.select2-container--focus,
.select2-selection,
.select2-selection--single {
    width: 100%;
    border: 0 !important;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: -webkit-focus-ring-color none 0;
    outline-color: -webkit-focus-ring-color;
    outline-style: none;
    outline-width: 0;
    line-height: 32px !important;
    margin-bottom: 0.5rem;
}

.select2-selection__rendered {
    height: calc(2.25rem + 2px);
    padding: 0;
    font-size: 1rem;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    line-height: 32px !important;
}

    .select2-selection__rendered:focus {
        border: 1px solid #0094ff;
    }

.select2-selection__placeholder {
    font-style: italic;
}