﻿@font-face {
    font-family: 'FontAwesome';
    src: url('/content/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('/content/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
         url('/content/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
         url('/content/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
         url('/content/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
         url('/content/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
