﻿<footer class="footer">
    <div class="footer-block">
        @Html.ActionLink("Tutorial", "Index", "Help", new { area = "Help" }, null) | <span id="footer-email"><a href="#">Contact</a></span> | &copy; @DateTime.Now.Year - Karol Skrobot
    </div>
</footer>