﻿@using Microsoft.AspNet.Identity

<header class="header">
    <div class="header-block header-block-collapse d-lg-none d-xl-none">
        <button class="collapse-btn" id="sidebar-collapse-btn">
            <i class="fas fa-bars"></i>
        </button>
    </div>

    <a href=""><i class="fas fa-search search-icon mx-3"></i></a>
    <input id="search" class="form-control w-50 search-box bg-transparent underlined" type="text" placeholder="Search" aria-label="Search">

    <div class="header-block header-block-nav">
        <ul class="nav-profile">
            <li class="profile dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="name">@User.Identity.GetUserName()</span>
                </a>
                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                    @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <a title="manage" class="dropdown-item" href="@Url.Action("Index", "Manage", new { area = "" }, null)">
                            <i class="fas fa-cog icon"></i> Settings
                        </a>

                        <div class="dropdown-divider"></div>


                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">
                            <i class="fas fa-power-off icon"></i> Sign out
                        </a>
                    }
                </div>
            </li>
        </ul>
    </div>
</header>
