﻿<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Elmboard - @ViewBag.Title </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" />
    @Styles.Render("~/bundles/styles-datepicker")
    @Styles.Render("~/bundles/styles-main")
    <!-- Theme initialization -->
    <script>
        var themeSettings = (localStorage.getItem('themeSettings')) ? JSON.parse(localStorage.getItem('themeSettings')) :
            {};
        var themeName = themeSettings.themeName || '';
        if (themeName) {
            document.write('<link rel="stylesheet" id="theme-style" href="/Content/ModularAdmin/app-' + themeName + '.css">');
        }
        else {
            document.write('<link rel="stylesheet" id="theme-style" href="/Content/ModularAdmin/app.css">');
        }
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css">
</head>
<body>
    <div class="main-wrapper">
        <div class="app" id="app">
            <!--header-->
            @Html.Partial("_header")
            <!--sidebar-->
            @Html.Partial("_sidebar")
            <!--content-->
            <article class="content">
                <div class="title-block">
                    <h1 class="title"> @ViewBag.Title </h1>
                </div>
                <section class="section">
                    <div class="row">
                        @RenderBody()
                    </div>
                </section>
            </article>
            <!--footer-->
            @Html.Partial("_footer")
        </div>
    </div>
    <!-- Reference block for JS -->
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/scripts-jquery-validate")

    @RenderSection("scripts", required: false)

    <script>
        function Search() {
            $.ajax({
                url: '@Url.Action("Index", "SearchResults", new { area = "" })/' + '?searchString=',
                data: $('#search').val(),
                type: 'GET',
                cache: false,
                success: function () {
                    if ($('#search').val())
                    {
                        window.location = '@Url.Action("Index", "SearchResults", new { area = "" })/' + '?searchString=' + $('#search').val();
                    }
                },
            });
        }

        $('.search-icon').click(function() {
                Search();
                });

         $('#search').keypress(function (e) {
            if (e.which === 13) {
                Search();
                }
        });

        $(document).ready(function () {
            $('#footer-email').on('click', function () {
                $('#footer-email').hide().html('karol' + 'skrob' + 'ot@elmboard.co.uk').fadeIn(800);
                $('#footer-email').off();
            });
        })
    </script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</body>
</html>