﻿@using Elmboard.Models

<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                <div class="logo">
                    <span class="l l1"></span>
                    <span class="l l2"></span>
                    <span class="l l3"></span>
                    <span class="l l4"></span>
                    <span class="l l5"></span>
                </div> Elmboard
            </div>
        </div>
        <nav class="menu">
            <ul class="sidebar-menu metismenu" id="sidebar-menu">
                <li class="active">
                    <a href="@Url.Action("Index", "Dashboard", new { area = "" })">
                        <i class="fas fa-home"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-user-tie"></i> Clients
                        <i class="fas arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li>
                            <a href="@Url.Action("Create", "Clients", new { area = "Clients" })"><i class="fas fa-file mr-2"></i>Create</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Clients", new { area = "Clients" })"><i class="fas fa-align-justify mr-2"></i>List </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="fas fa-briefcase"></i> Businesses
                        <i class="fas arrow"></i>
                    </a>
                    <ul class="sidebar-nav">
                        <li>
                            <a href="@Url.Action("Create", "Businesses", new { area = "Businesses" })"><i class="fas fa-file mr-2"></i>Create</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Businesses", new { area = "Businesses" })"><i class="fas fa-align-justify mr-2"></i>List</a>
                        </li>
                    </ul>
                </li>
                @{
                    if (User.IsInRole(RoleName.SuperAdmin))
                    {
                        <li>
                            <a href="">
                                <i class="fas fa-database"></i> Library
                                <i class="fas arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="@Url.Action("Index", "Relationships", new { area = "Library" })">
                                        <i class="fas fa-sync-alt mr-2"></i> Relationship Types
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Statuses", new { area = "Library" })">
                                        <i class="fas fa-info-circle mr-2"></i> Statuses
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Titles", new { area = "Library" })">
                                        <i class="fas fa-id-card mr-2"></i> Titles
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "LegalForms", new { area = "Library" })">
                                        <i class="fas fa-pen-nib mr-2"></i> Legal Forms
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "MaritalStatuses", new { area = "Library" })">
                                        <i class="fas fa-university mr-2"></i> Marital Statuses
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "DisengagementReasons", new { area = "Library" })">
                                        <i class="fas fa-times mr-2"></i> Disengagement Reasons
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "FileTypes", new { area = "Library" })">
                                        <i class="fas fa-save mr-2"></i> File Types
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-users"></i> Users
                                <i class="fas arrow"></i>
                            </a>
                            <ul class="sidebar-nav">
                                <li>
                                    <a href="@Url.Action("Create", "Users", new { area = "Users" })"><i class="fas fa-file mr-2"></i>Create</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Users", new { area = "Users" })"><i class="fas fa-align-justify mr-2"></i>List</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "UserLogins", new { area = "Users" })"><i class="fas fa-globe mr-2"></i>Login history</a>
                                </li>
                            </ul>
                        </li>
                    }
                }

            </ul>
        </nav>
    </div>
    <footer class="sidebar-footer">
        <ul class="sidebar-menu metismenu" id="customize-menu">
            <li>
                <ul>
                    <li class="customize">
                        <div class="customize-item">
                            <div class="row customize-header">
                                <div class="col-4"> </div>
                                <div class="col-4">
                                    <label class="title">fixed</label>
                                </div>
                                <div class="col-4">
                                    <label class="title">static</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Sidebar:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="sidebarPosition" value="sidebar-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="sidebarPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Header:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="headerPosition" value="header-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="headerPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label class="title">Footer:</label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="footerPosition" value="footer-fixed">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-4">
                                    <label>
                                        <input class="radio" type="radio" name="footerPosition" value="">
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="customize-item">
                            <ul class="customize-colors">
                                <li>
                                    <span class="color-item color-red" data-theme="red"></span>
                                </li>
                                <li>
                                    <span class="color-item color-orange" data-theme="orange"></span>
                                </li>
                                <li>
                                    <span class="color-item color-green active" data-theme=""></span>
                                </li>
                                <li>
                                    <span class="color-item color-seagreen" data-theme="seagreen"></span>
                                </li>
                                <li>
                                    <span class="color-item color-blue" data-theme="blue"></span>
                                </li>
                                <li>
                                    <span class="color-item color-purple" data-theme="purple"></span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <a href="">
                    <i class="fas fa-cog"></i> Customize
                </a>
            </li>
        </ul>
    </footer>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
<div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
<div class="mobile-menu-handle"></div>