﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Error.cshtml";
}

<article class="content">
    <div class="error-card global">
        <div class="error-title-block">
            <h2 class="error-sub-title"> Error. </h2>
        </div>
        <div class="error-container">
            @{ if (String.IsNullOrEmpty(ViewBag.errorMessage))
                {
                    <p>An error occurred while processing your request.</p>
                }
                else
                {
                    <p>@ViewBag.errorMessage</p>
                }
            }
        </div>
    </div>
</article>