﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
    Layout = "~/Views/Shared/_Layout_Error.cshtml";
}



<article class="content">
    <div class="error-card global">
        <div class="error-title-block">
            <h2 class="error-sub-title"> Locked out. </h2>
        </div>
        <div class="error-container">
            <p>This account has been locked out, please try again later.</p>
        </div>
    </div>
</article>