﻿@using Elmboard.Models

@{
    ViewBag.Title = "Tutorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="table-responsive">
                <table>
                    <tr>
                        <td>
                            <a href="#" id="help-clients-and-businesses">Clients and Businesses</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" id="help-relationships">Relationships</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" id="help-search">Search</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" id="help-customize">Customize</a>
                        </td>
                    </tr>
                    @{
                        if (User.IsInRole(RoleName.SuperAdmin))
                        {
                            <tr>
                                <td>
                                    <a href="#" id="help-admin">Admin</a>
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </div>
</div>


<div id="help-content" class="col-md-12"></div>



@section scripts
{
    <script>
        $(document).ready(function () {

            $('#help-clients-and-businesses').on('click', function () {
                $('#help-content').load('/help/help/_HelpClientsBusinesses');
            });

            $('#help-relationships').on('click', function () {
                $('#help-content').load('/help/help/_HelpRelationships');
            });

            $('#help-search').on('click', function () {
                $('#help-content').load('/help/help/_HelpSearch');
            });

            $('#help-customize').on('click', function () {
                $('#help-content').load('/help/help/_HelpCustomize');
            });

            $('#help-admin').on('click', function () {
                $('#help-content').load('/help/help/_HelpAdmin');
            });

        });
    </script>
}
