﻿@model Elmboard.Core.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Change your account settings";
    Layout = "~/Views/Shared/_Layout_Manage.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="settings-container">
            <p class="text-success">@ViewBag.StatusMessage</p>
            <div>
                <h5>@ViewBag.Title.</h5>
                <hr />
                <dl class="dl-horizontal">
                    <dt>Password:</dt>
                    <dd>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </dd>
                    <dt>External Logins:</dt>
                    <dd>
                        @Model.Logins.Count [
                        @Html.ActionLink("Manage", "ManageLogins") ]
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
