﻿@model Elmboard.Core.ViewModels.SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
    Layout = "~/Views/Shared/_Layout_Manange.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <div class="settings-container">
            <h5>@ViewBag.Title.</h5>
            <p class="text-info">
                You do not have a local username/password for this site. Add a local
                account so you can log in without an external login.
            </p>

            @using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <h5>Create Local Login</h5>
                <hr />
                @Html.ValidationSummary("", new { @class = "has-error" })
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control boxed" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control boxed" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Set password" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
