﻿@using System.Configuration
@model Elmboard.Areas.Clients.ViewModels.ClientCreateViewModel

@{
    ViewBag.Title = "Create New Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card">
        <div class="card-block">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "has-error" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.StatusId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Client.StatusId, new SelectList(Model.Statuses, "Id", "Name"), "", new { @class = "form-control boxed" })
                        @Html.ValidationMessageFor(m => m.Client.StatusId, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.TitleId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Client.TitleId, new SelectList(Model.Titles, "Id", "Name"), "", new { @class = "form-control boxed" })
                        @Html.ValidationMessageFor(m => m.Client.TitleId, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.FirstName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.FirstName, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.FirstName, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.MiddleName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.MiddleName, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.MiddleName, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Surname, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.Surname, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.Surname, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.PreviousName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.PreviousName, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.PreviousName, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.DateOfBirth, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Client.DateOfBirth, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Client.DateOfBirth, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Telephone, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.Telephone, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.Telephone, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Telephone2, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.Telephone2, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.Telephone2, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.MaritalStatusId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Client.MaritalStatusId, new SelectList(Model.MaritalStatuses, "Id", "Name"), "", new { @class = "form-control boxed" })
                        @Html.ValidationMessageFor(m => m.Client.MaritalStatusId, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.Email, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.Email, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Address, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.Address, new { htmlAttributes = new { @class = "form-control boxed", placeholder = "Building number.." } })
                        @Html.ValidationMessageFor(m => m.Client.Address, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Postcode, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.Postcode, new { htmlAttributes = new { @class = "form-control boxed", placeholder = "Postal code.." } })
                        @Html.ValidationMessageFor(m => m.Client.Postcode, "", new { @class = "has-error" })
                    </div>

                    @* type="button" so the form doesn't submit as browsers default to submit *@
                    <button type="button" id="get-client-address" class="btn btn-sm btn-primary-outline" data-apikey="@ConfigurationManager.AppSettings["GetAddressIoApiKey"]">Get address</button>

                    <div id="address-list" class="form-group">
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.DateMovedIn, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Client.DateMovedIn, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Client.DateMovedIn, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Nin, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.Nin, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.Nin, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Utr, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.Utr, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.Utr, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.BankAccountDetails, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.BankAccountDetails, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.BankAccountDetails, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.ESignaturePassword, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.ESignaturePassword, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.ESignaturePassword, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.Notes, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Client.Notes, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.Notes, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.DateDisengaged, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Client.DateDisengaged, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Client.DateDisengaged, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.DisengagementReasonId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Client.DisengagementReasonId, new SelectList(Model.DisengagementReasons, "Id", "Name"), "", new { @class = "form-control boxed" })
                        @Html.ValidationMessageFor(m => m.Client.DisengagementReasonId, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.DateArchived, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Client.DateArchived, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Client.DateArchived, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Client.ArchiveNote, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Client.ArchiveNote, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Client.ArchiveNote, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/scripts-formcontrols")
    @Scripts.Render("~/bundles/scripts-datepicker")
}




