﻿@using Elmboard.Areas.Clients.ViewModels
@model Elmboard.Areas.Clients.ViewModels.ClientDetailsViewModel

@{
    ViewBag.Title = Model.Client.FirstName + " " + Model.Client.Surname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6">
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title mb-4">ID: @Html.DisplayFor(model => model.Client.Id)</h3>
            </div>
            <div class="table-responsive">
                <table id="client-details-table" class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.StatusId)</th>
                        <td>@Html.DisplayFor(model => model.Client.Status.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.TitleId)</th>
                        <td>@Html.DisplayFor(model => model.Client.Title.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.FirstName)</th>
                        <td>@Html.DisplayFor(model => model.Client.FirstName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.MiddleName)</th>
                        <td>@Html.DisplayFor(model => model.Client.MiddleName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.Surname)</th>
                        <td>@Html.DisplayFor(model => model.Client.Surname)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.PreviousName)</th>
                        <td>@Html.DisplayFor(model => model.Client.PreviousName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.DateOfBirth)</th>
                        <td>@Html.DisplayFor(model => model.Client.DateOfBirth)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.Telephone)</th>
                        <td>@Html.DisplayFor(model => model.Client.Telephone)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.Telephone2)</th>
                        <td>@Html.DisplayFor(model => model.Client.Telephone2)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.MaritalStatusId)</th>
                        <td>@Html.DisplayFor(model => model.Client.MaritalStatus.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.Email)</th>
                        <td>@Html.DisplayFor(model => model.Client.Email)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.Address)</th>
                        <td>@Html.DisplayFor(model => model.Client.Address), @Html.DisplayFor(model => model.Client.Postcode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.DateMovedIn)</th>
                        <td>@Html.DisplayFor(model => model.Client.DateMovedIn)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.Nin)</th>
                        <td>@Html.DisplayFor(model => model.Client.Nin)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.Utr)</th>
                        <td>@Html.DisplayFor(model => model.Client.Utr)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.BankAccountDetails)</th>
                        <td>@Html.DisplayFor(model => model.Client.BankAccountDetails)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.ESignaturePassword)</th>
                        <td>@Html.DisplayFor(model => model.Client.ESignaturePassword)</td>
                    </tr>
                    <tr>
                        <th colspan="2">@Html.DisplayNameFor(model => model.Client.Notes)</th>
                    </tr>
                    <tr>
                        <td class="notes-body" colspan="2">@Html.Raw(Model.Client.Notes)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.DateDisengaged)</th>
                        <td>@Html.DisplayFor(model => model.Client.DateDisengaged)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.DisengagementReasonId)</th>
                        <td>@Html.DisplayFor(model => model.Client.DisengagementReason.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.DateArchived)</th>
                        <td>@Html.DisplayFor(model => model.Client.DateArchived)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Client.ArchiveNote)</th>
                        <td>@Html.DisplayFor(model => model.Client.ArchiveNote)</td>
                    </tr>
                </table>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Client.Id }, new { @class = "text-right" })
        </div>
    </div>
</div>

<div class="col-md-6">
    <div id="client-relationships" class="card" data-client-id="@Model.Client.Id">
        @Html.Partial("_ClientClientRelationships", Model.ClientRelationshipsViewModel)
    </div>

    <div id="business-relationships" class="card mt-3" data-client-id="@Model.Client.Id">
        @Html.Partial("_ClientBusinessRelationships", Model.ClientBusinessRelationshipsViewModel)
    </div>

    @{
        if (Model.ClientAddressChangesViewModel.ClientAddressChanges.Count() > 0)
        {
            <div id="client-address-changes" class="card mt-3" data-client-id="@Model.Client.Id">
                @Html.Partial("_ClientAddressChanges", Model.ClientAddressChangesViewModel)
            </div>
        }
    }
    
    <div id="client-files" class="card mt-3" data-client-id="@Model.Client.Id">
        @Html.Partial("_ClientFiles", Model.ClientFilesViewModel)
    </div>

</div>

@Html.AntiForgeryToken()

@section scripts
{
    @Scripts.Render("~/bundles/scripts-client-partials")
    @Scripts.Render("~/bundles/scripts-datepicker")

}