﻿@using Elmboard.Models
@model IEnumerable<Elmboard.Areas.Clients.Models.Client>

@{
    ViewBag.Title = "Client List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="table-responsive">
                <table id="clients" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telephone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#clients').DataTable({
                ajax: {
                    url: '/api/clients',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'id',
                        data: 'name',
                        render: function (data, type, client) {
                            return '<a href="/clients/clients/details/' + client.id + '">' + client.surname + ' ' + client.firstName + '</a>';
                        }
                    },
                    {
                        data: 'email'
                    },
                    {
                        data: 'telephone'
                    },
                    {
                        data: 'address',
                        data: 'postcode',
                        render: function (data, type, client) {
                            return client.address + ' ' + client.postcode
                        }
                    },
                    {
                        data: 'id',
                        render: function (data, type, client) {
                            var isAdmin = '@(User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin) ? true : false)';
                            var deleteLink = '<a href="/clients/clients/edit/' + client.id + '">Edit</a>' + ' | ' +
                                '<a href="#" class="js-delete" data-client-id=' + data + '>Delete</a>';
                            var editLink = '<a href="/clients/clients/edit/' + client.id + '">Edit</a>';
                            return isAdmin === "True" ? deleteLink : editLink;
                        }
                    }
                ]

            });

            $('select').addClass('boxed');
            $('.form-control-sm').addClass('boxed');

            $('#clients').on('click', '.js-delete', function () {
                var button = $(this);

                bootbox.confirm('Are you sure you want to delete this client?', function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/clients/' + button.attr('data-client-id'),
                            method: 'DELETE',
                            success: function () {
                                table.row(button.parents('tr')).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}