﻿@model IEnumerable<Elmboard.Areas.Library.Models.MaritalStatus>

@{
    ViewBag.Title = "Marital Statuses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card">
        <div class="card-block">

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table id="marital-statuses" class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>

                            @Html.ActionLink("Rename", "Edit", new { id = item.Id }) |
                            <a href="#" data-id="@item.Id" data-name="@item.Name" class="js-delete">Delete</a>
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>

@Html.AntiForgeryToken()

@section scripts
{
    @Scripts.Render("~/bundles/scripts-library-delete")
    <script>
        $(document).ready(
            function () {
                libraryDelete('#marital-statuses', 'MaritalStatuses');
            });
    </script>
}
