﻿@model Elmboard.Areas.Users.ViewModels.ChangePasswordForUserViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.Surname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title mb-4">CHANGE PASSWORD</h3>
            </div>

            @using (Html.BeginForm("ChangePasswordForUser", "UserManage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.FirstName)
                @Html.HiddenFor(model => model.Surname)
                <hr />
                @Html.ValidationSummary("", new { @class = "has-error" })
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control boxed" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control boxed" })
                </div>
                <div class="form-group">
                    <input id="submit-password" type="submit" value="Save" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
