﻿@using Elmboard.Models
@model Elmboard.Areas.Clients.ViewModels.ClientAddressChangesViewModel

<div class="card-block">
    <div class="card-title-block">
        <h3 class="title mb-4">ADDRESS HISTORY</h3>
    </div>
    <div class="table-responsive">
        <table id="client-address-changes-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Date moved in</th>
                    @{
                        if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin))
                        {
                            <th>Actions</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ClientAddressChanges)
                {
                <tr>
                    <td>@item.Address, @item.Postcode</td>
                    <td>@item.DateMovedIn.ToString("dd/MM/yyyy")</td>
                    @{
                        if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin))
                        {
                            <td>
                                <a href="#" data-address-change-id="@item.Id" class="js-delete">Delete</a>
                            </td>
                        }
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
