﻿@using Elmboard.Models
@model Elmboard.Areas.Clients.ViewModels.ClientFilesViewModel


<div class="card-block">
    <div class="card-title-block">
        <h3 class="title mb-4">FILES</h3>
        <h5 class="title">Client Files</h5>
    </div>
    <div class="table-responsive">
        <table id="client-files-table" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Date</th>
                @{
                    if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin))
                    {
                        <th>Actions</th>
                    }
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.ClientFilesList)
            {
                <tr><td colspan="4"><b>@item.FileDescriptionListItem</b></td></tr>
                <tr>
                    <td>@Path.GetFileName(item.FileNameListItem)</td>
                    <td>@item.FileTypeNameListItem</td>
                    <td>@item.FileDateListItem.ToString("dd/MM/yyyy")</td>
                    @{
                        if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin))
                        {
                            <td>
                                <a href="#" data-file-id="@item.ClientFileIdListItem" class="js-delete">Delete</a>
                            </td>
                        }
                    }
                </tr>

            }
            </tbody>
        </table>
    </div>
    <div class="card-title-block">
        <h3 class="title my-4">Upload New File</h3>
    </div>

    <div class="col-8">

        @using (Html.BeginForm("UploadFile", "ClientFiles", new {clientId = @Model.ClientId}, FormMethod.Post, new { id="client-files-form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <input id="choose-client-file" name="file" type="file" value="Choose File" class="inputfile" />
            <label id="choose-client-file-label" for="choose-client-file" class="btn btn-primary my-4">Choose a file...</label>

            <div class="form-group">
                <div class="table-responsive">
                    <table class="table">
                        <tr id="file-name-container" class="form-group d-none">
                            <th class="mt-1">Name</th>
                            <th id="chosen-file-name"></th>
                        </tr>

                        <tr class="form-group">
                            <th class="mt-1">Type</th>
                            <td>@Html.DropDownList("typeId", Model.FileTypes, "", new { @class = "form-control boxed my-1 select2" })</td>
                        </tr>
                        <tr class="form-group">
                            <th class="mt-1">Date</th>
                            <td><input type="text" id="FileDate" name="FileDate" class="form-control boxed my-1 datepicker" placeholder="File date..." required /></td>
                        </tr>
                        <tr class="form-group">
                            <th class="mt-1">Description</th>
                            <td><textarea rows="2" id="FileDescription" name="FileDescription" class="form-control boxed my-1" placeholder="File Description..."></textarea></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <span class="form-group">
                    <input id="upload-client-file" type="button" value="Upload" class="btn btn-primary" />
                </span>
            </div>
        }
    </div>
</div>