﻿@using Elmboard.Models
@model Elmboard.Areas.Clients.ViewModels.ClientBusinessRelationshipsViewModel

<div class="card-block">
    <div class="card-title-block">
        <h3 class="title mb-4">RELATIONSHIPS</h3>
        <h5 class="title">Businesses</h5>
    </div>
    <div class="table-responsive">
        <table id="relationships-businesses-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Relationship</th>
                    @{
                        if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin))
                        {
                            <th>Actions</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RelatedBusinessesList)
                {
                <tr>
                    <th scope="row">@item.BusinessIdListItem</th>
                    <td>@Html.ActionLink(@item.BusinessNameListItem, "Details", "Businesses", new { area = "Businesses", id = item.BusinessIdListItem }, null)
                    <td>@item.RelationshipNameListItem</td>
                    @{
                        if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin))
                        {
                            <td>
                                <a href="#" data-relationship-client-id="@Model.ClientId"
                                   data-relationship-business-id="@item.BusinessIdListItem"
                                   data-relationship-id="@item.RelationshipIdListItem"
                                   class="js-delete">Delete</a>
                            </td>
                        }
                    }

                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-title-block">
        <h3 class="title my-4">New Relationship</h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessageFor(m => m.RelatedBusinessesList, "", new { @class = "has-error mb-3" })
        <div class="form-group">
            <div class="table-responsive">
                <table class="table">
                    <tr class="form-group">
                        <th class="relationship-dropdowns-header">Business</th>
                        <td>@Html.DropDownList("businessId", Model.Businesses, "", new { @class = "form-control boxed my-2 select2" })</td>
                    </tr>
                    <tr class="form-group">
                        <th class="relationship-dropdowns-header">Relationship Type</th>
                        <td>@Html.DropDownList("businessRelationshipId", Model.Relationships, "", new { @class = "form-control boxed my-2 select2"})</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <input id="submit-business-relationship" type="button" value="Save" class="btn btn-primary" />
        </div>
    }
</div>