﻿@model IEnumerable<Elmboard.Models.UserLogin>

@{
    ViewBag.Title = "User Logins";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="table-responsive">
                <table id="user-logins" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>User Id</th>
                            <th>E-mail</th>
                            <th>Date &amp; Time</th>
                            <th>Ip Address</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>

        $(document).ready(function () {

            var table = $('#user-logins').DataTable({
                "order": [[2, "desc"]],
                ajax: {
                    url: '/api/userlogins',
                    dataSrc: ''
                },

                columns: [
                    { data: 'userId' },
                    { data: 'email' },
                    {
                        data: 'dateTime',
                        render: function (data) {
                            return moment(data.toLocaleString("en-UK", { timeZone: "Europe/London" })).format('DD MMM YYYY, HH:mm');
                        }
                    },
                    { data: 'ipAddress' }
                ]
            });

            $('.form-control-sm').addClass('boxed');
        });
    </script>
}