﻿@model Elmboard.Core.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Create New User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card">
        <div class="card-block">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "has-error" })

                <div class="form-group">
                    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control boxed" } })
                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "has-error" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control boxed" } })
                    @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "has-error" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control boxed" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "has-error" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control boxed" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "has-error" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control boxed" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "has-error" })
                </div>
            </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>
