﻿@model Elmboard.Areas.Users.ViewModels.UserDetailsViewModel

@{
    ViewBag.Title = Model.User.FirstName + " " + Model.User.Surname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card">
        <div class="card-block">
            <div class="table-responsive">
                <table id="user-details-table" class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.User.FirstName)</th>
                        <td>@Html.DisplayFor(model => model.User.FirstName)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.User.Surname)</th>
                        <td>@Html.DisplayFor(model => model.User.Surname)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.User.Email)</th>
                        <td>@Html.DisplayFor(model => model.User.Email)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.User.EmailConfirmed)</th>
                        <td>@Html.DisplayFor(model => model.User.EmailConfirmed)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.User.LockoutEndDateUtc)</th>
                        <td>@Html.DisplayFor(model => model.User.LockoutEndDateUtc)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.User.AccessFailedCount)</th>
                        <td>@Html.DisplayFor(model => model.User.AccessFailedCount)</td>
                    </tr>
                </table>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.User.Id }, new { @class = "text-right" }) |
            @Html.ActionLink("Change Password", "ChangePasswordForUser", "UserManage", new { id = Model.User.Id }, new { @class = "text-right" })
        </div>
    </div>
</div>

<div class="col-md-6">
    <div id="user-roles" class="card" data-user-id="@Model.User.Id">
        @Html.Partial("_UserRoles", Model.UserRolesViewModel)
    </div>
</div>

@Html.AntiForgeryToken()
@section scripts
{
    @Scripts.Render("~/bundles/scripts-user-roles")
}