﻿@model Elmboard.Areas.Users.ViewModels.UserEditViewModel

@{
    ViewBag.Title = Model.User.FirstName + " " + Model.User.Surname;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card">
        <div class="card-block">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.User.Id)

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "has-error" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.FirstName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.User.FirstName, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(model => model.User.FirstName, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Surname, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.User.Surname, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(model => model.User.Surname, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.Email, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.User.Email, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(model => model.User.Email, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.EditorFor(model => model.User.EmailConfirmed)
                        @Html.LabelFor(model => model.User.EmailConfirmed, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.User.EmailConfirmed, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.LockoutEndDateUtc, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.User.LockoutEndDateUtc, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker-from-today boxed" })
                        @Html.ValidationMessageFor(model => model.User.LockoutEndDateUtc, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.User.AccessFailedCount, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.User.AccessFailedCount, new { htmlAttributes = new { @class = "form-control boxed", min = "0", max = "5"} })
                        @Html.ValidationMessageFor(model => model.User.AccessFailedCount, "", new { @class = "has-error" })
                    </div>

                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div id="user-roles" class="card" data-user-id="@Model.User.Id">
        @Html.Partial("_UserRoles", Model.UserRolesViewModel)
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/scripts-user-roles")
}
