﻿@model IEnumerable<Elmboard.Core.Models.ApplicationUser>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="table-responsive">
                <table id="users" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                E-mail
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#users').DataTable({
                ajax: {
                    url: '/api/users',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'id',
                        data: 'name',
                        render: function (data, type, user) {
                            return '<a href="/users/users/details/' + user.id + '">' + user.firstName + ' ' + user.surname + '</a>';
                        }
                    },
                    {
                        data: 'email'
                    },
                    {
                        data: 'id',
                        render: function (data, type, user) {
                            return '<a href="/users/users/edit/' + user.id + '">Edit</a>' + ' | ' +
                                '<a href="/users/usermanage/changepasswordforuser/' + user.id + '">Change Password</a>' + ' | ' +
                                '<a href="#" class="js-delete" data-user-id=' + data + '>Delete</a>'
                        }
                    }
                ]

            });

            $('select').addClass('boxed');
            $('.form-control-sm').addClass('boxed');

            $('#users').on('click', '.js-delete', function () {
                var button = $(this);

                bootbox.confirm('Are you sure you want to delete this user?', function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/users/' + button.attr('data-user-id'),
                            method: 'DELETE',
                            success: function () {
                                table.row(button.parents('tr')).remove().draw();
                            },
                            error: function () {
                                toastr.error('Unable to delete.')
                            },
                        });
                    }
                });
            });
        });
    </script>
}