﻿@using Elmboard.Models

@{
    ViewBag.Title = "Search Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="search-results" data-search-string="@ViewBag.SearchString"></div>

    @Html.AntiForgeryToken()

    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title-block">
                    <h3 class="title mb-4">CLIENTS</h3>
                </div>
                <div class="table-responsive">
                    <table id="clients" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    E-mail Address
                                </th>
                                <th>
                                    Telephone
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <div class="card-block">
                <div class="card-title-block">
                    <h3 class="title mb-4">BUSINESSES</h3>
                </div>
                <div class="table-responsive">
                    <table id="businesses" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Id
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Company Number
                                </th>
                                <th>
                                    UTR
                                </th>
                                <th>
                                    VAT
                                </th>
                                <th>
                                    Employer AO Ref
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



@section scripts
{
    <script>
        $(document).ready(function () {

            function getToken() {
                return $("[name='__RequestVerificationToken']").attr('value');
            }
            
            var tableClients = $('#clients').DataTable({
                ajax: {
                    url: '/searchresults/searchclients?searchString=' + $('#search-results').attr('data-search-string'),
                    dataSrc: '',
                    deferRender: true,
                    method: 'POST',
                    data: { __RequestVerificationToken: getToken() },
                },
                columns: [
                    {
                        data: 'Id'
                    },
                    {
                        data: 'Id',
                        data: 'Name',
                        render: function (data, type, client) {
                            return '<a href="/clients/clients/details/' + client.Id + '">' + client.Surname + ' ' + client.FirstName + '</a>';
                        }
                    },
                    {
                        data: 'Email',
                        render: function (data, type, client) {
                            return '<a href="mailto:' + client.Email + '">' + client.Email + '</a>';
                        }
                    },
                    {
                        data: 'Telephone'
                    },
                    {
                        data: 'Address',
                        data: 'Postcode',
                        render: function (data, type, client) {
                            return client.Address + ' ' + client.Postcode
                        }
                    },
                    {
                        data: 'Id',
                        render: function (data, type, client) {
                            var isAdmin = '@(User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin) ? true : false)';
                            var editLink = '<a href="/clients/clients/edit/' + client.Id + '">Edit</a>'
                            var deleteLink = '<a href="/clients/clients/edit/' + client.Id + '">Edit</a>' + ' | ' +
                                '<a href="#" class="js-delete" data-client-id=' + data + '>Delete</a>'
                            return isAdmin === "True" ? deleteLink : editLink;
                        }
                    }
                ]
            });

            $('#clients').on('click', '.js-delete', function () {
                var link = $(this);

                bootbox.confirm('Are you sure you want to delete this client?', function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/clients/' + link.attr('data-client-id'),
                            method: 'DELETE',
                            success: function () {
                                tableClients.row(link.parents('tr')).remove().draw();
                            }
                        });
                    }
                });
            });

            var tableBusinesses = $('#businesses').DataTable({
                ajax: {
                    url: '/searchresults/searchbusinesses?searchString=' + $('#search-results').attr('data-search-string'),
                    dataSrc: '',
                    method: 'POST',
                    data: { __RequestVerificationToken: getToken() },
                },
                columns: [
                    {
                        data: 'Id'
                    },
                    {
                        data: 'Id',
                        data: 'Name',
                        render: function (data, type, business) {
                            return '<a href="/businesses/businesses/details/' + business.Id + '">' + business.Name + '</a>';
                        }
                    },
                    {
                        data: 'CompanyNumber'
                    },
                    {
                        data: 'Utr'
                    },
                    {
                        data: 'VatNo'
                    },
                    {
                        data: 'EAccountsOffice'
                    },
                    {
                        data: 'Address',
                        data: 'Postcode',
                        render: function (data, type, business) {
                            return business.Address + ' ' + business.Postcode
                        }
                    },
                    {
                        data: 'Id',
                        render: function (data, type, business) {
                            var isAdmin = '@(User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin)?true:false)';
                            var editLink = '<a href="/businesses/businesses/edit/' + business.Id + '">Edit</a>'
                            var deleteLink = '<a href="/businesses/businesses/edit/' + business.Id + '">Edit</a>' + ' | ' +
                                '<a href="#" class="js-delete" data-business-id=' + data + '>Delete</a>';
                            return isAdmin === "True" ? deleteLink : editLink;
                            }
                    }
                ]

            });

            $('#businesses').on('click', '.js-delete', function () {
                var link = $(this);

                bootbox.confirm('Are you sure you want to delete this business?', function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/businesses/' + link.attr('data-business-id'),
                            method: 'DELETE',
                            success: function () {
                                tableBusinesses.row(link.parents('tr')).remove().draw();
                            }
                        });
                    }
                });
            });

            $('select').addClass('boxed');
            $('.form-control-sm').addClass('boxed');
        });
    </script>
}
