﻿@using Elmboard.Models
@model Elmboard.Areas.Businesses.ViewModels.BusinessClientRelationshipsViewModel

<div class="card-block">
    <div class="card-title-block">
        <h3 class="title mb-4">RELATIONSHIPS</h3>
        <h5 class="title">Clients</h5>
    </div>
    <div class="table-responsive">
        <table id="relationships-clients-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Telephone</th>
                    <th>E-mail</th>
                    <th>Relationship</th>
                    @{
                        if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin))
                        {
                            <th>Actions</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RelatedClientsList)
                {
                    <tr>
                        <th scope="row">@item.ClientIdListItem</th>
                        <td>@Html.ActionLink(@item.ClientNameListItem, "Details", "Clients", new { area = "Clients", id = item.ClientIdListItem }, null)
                        <td>@item.ClientTelephoneListItem</td>
                        <td><a href="mailto:@item.ClientEmailListItem">@item.ClientEmailListItem</a></td>
                        <td>@item.RelationshipNameListItem</td>
                        @{
                            if (User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin))
                            {
                                <td>
                                    <a href="#" data-relationship-client-id="@item.ClientIdListItem"
                                       data-relationship-business-id="@Model.BusinessId"
                                       data-relationship-id="@item.RelationshipIdListItem"
                                       class="js-delete">Delete</a>
                                </td>
                            }
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-title-block">
        <h3 class="title my-4">New Relationship</h3>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationMessageFor(m => m.RelatedClientsList, "", new { @class = "has-error mb-3" })
        <div class="form-group">
            <div class="table-responsive">
                <table class="table">
                    <tr class="form-group">
                        <th class="relationship-dropdowns-header">Client</th>
                        <td>@Html.DropDownList("clientId", Model.Clients, "", new { @class = "form-control boxed my-2 select2" })</td>
                    </tr>
                    <tr class="form-group">
                        <th class="relationship-dropdowns-header">Relationship Type</th>
                        <td>@Html.DropDownList("clientRelationshipId", Model.Relationships, "", new { @class = "form-control boxed my-2 select2" })</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <input id="submit-client-relationship" type="button" value="Save" class="btn btn-primary" />
        </div>
    }
</div>
