﻿@using Elmboard.Core
@using Elmboard.Core.ViewModels
@model Elmboard.Core.ViewModels.ConfirmEmailSentViewModel

@{
    ViewBag.Title = "Check your E-mail";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">CHECK YOUR E-MAIL</p>
    <p class="text-muted text-center">
        You should receive a confirmation e-mail with a link to confirm your account.
    </p>
    <div class="form-group">
        <p class="text-muted text-center">
            E-mail not received? Please check your spam folder or @Html.ActionLink("resend the link.", "ConfirmEmailResend", "Account", new ConfirmEmailResendViewModel{ Email = Model.Email, IsFromLogin = false }, null)
        </p>
    </div>
</div>


