﻿@model Elmboard.Core.ViewModels.ConfirmEmailResendViewModel

@{
    ViewBag.Title = "Check your E-mail";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">CHECK YOUR E-MAIL</p>
    @{
        if (Model.IsFromLogin)
        {
            <p class="text-muted text-center">
                You need to confirm your account before you login. You should have received a confirmation e-mail with a link to confirm your account.
            </p>
        }
    }
    <p class="text-muted text-center">
        E-mail not received? Please check your spam folder or enter your e-mail address to send the e-mail again.
    </p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "has-error" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlined" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Resend</button>
        </div>
        <div class="form-group clearfix">
            <div class="row">
                <div class="col-md-6">@Html.ActionLink("Return to Log In", "Login")</div>
                <div class="col-md-6 text-right">@Html.ActionLink("Sign Up!", "Register")</div>
            </div>
        </div>
    }
</div>



