﻿@using Elmboard.Core
@using Elmboard.Core.ViewModels
@model Elmboard.Core.ViewModels.ConfirmEmailSentViewModel

@{
    ViewBag.Title = "Exceeded number of requests";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">TOO MANY REQUESTS</p>
    <p class="text-muted text-center">
        You need to wait a few minutes before @Html.ActionLink("requesting again", "ConfirmEmailResend", "Account", new ConfirmEmailResendViewModel { Email = Model.Email, IsFromLogin = false }, null).
    </p>
</div>

