﻿@{
    ViewBag.Title = "Confirm E-mail";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">E-MAIL CONFIRMED</p>
        <p class="text-muted text-center">
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
</div>


