﻿@{
    ViewBag.Title = "Login Failure";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">LOGIN FAILURE</p>
    <div>
        <p class="text-muted text-center">
            Unsuccessful login with service.
        </p>
    </div>
</div>

