﻿@{
    ViewBag.Title = "Too Many Requests";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">TOO MANY REQUESTS</p>
    <p class="text-muted text-center">
        You need to wait a few minutes before attepting to reset your password again.
    </p>
</div>

