﻿@model Elmboard.Core.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot Your Password?";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">PASSWORD RECOVER</p>
    <p class="text-muted text-center">
        <small>Enter your email address to recover your password.</small>
    </p>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "has-error" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlined" })
    </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Reset</button>
        </div>
        <div class="form-group clearfix">
            <div class="row">
                <div class="col-md-6">@Html.ActionLink("Return to Log In", "Login")</div>
                <div class="col-md-6 text-right">@Html.ActionLink("Sign Up!", "Register")</div>
            </div>
            
            
        </div>
    }
</div>

