﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">CHECK YOUR E-MAIL</p>
        <p class="text-muted text-center">
            You should receive an email with a link to reset your password.
        </p>
</div>

