﻿@model Elmboard.Core.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">LOG IN</p>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "has-error" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlined", placeholder = "Your email address" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "form-control underlined", placeholder = "Your password" })
        </div>

        <div class="form-group">
            <label for="RememberMe">
                <input class="checkbox" data-val="true" data-val-required="The Remember me? field is required."
                       id="RememberMe" name="RememberMe" type="checkbox" value="true">
                <span>Remember me</span>
            </label>
        </div>

        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>

        <div class="form-group">
            <button type="submit" value="Log in" class="btn btn-block btn-primary">Login</button>
        </div>
        <div class="form-group">
            <p class="text-muted text-center">
                Do not have an account?
                @Html.ActionLink("Sign Up!", "Register")
            </p>
        </div>
    }
</div>            