﻿@model Elmboard.Core.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">SIGN UP</p>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary("", new { @class = "has-error" })
        @Html.AntiForgeryToken()

        <div class="form-group">
                <label>Name</label>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control underlined", placeholder = "Enter first name" })
                    </div>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control underlined", placeholder = "Enter surname" })
                    </div>
                </div>
            </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlined", placeholder = "Enter email address" })
        </div>
        <div class="form-group">

            <div class="row">
                <div class="col-sm-6">
                    <label class="control-label">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control underlined", placeholder = "Enter password" })
                </div>
                <div class="col-sm-6">
                    <label class="control-label">Confirm</label>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control underlined", placeholder = "Re-type password" })
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <label for="agree">
                    <input class="checkbox" name="agree" id="agree" type="checkbox" required="">
                    <span>
                        Agree the terms and
                        <a href="#">policy</a>
                    </span>
                </label>
            </div>*@
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
        </div>
        <div class="form-group">
            <p class="text-muted text-center">
                Already have an account?
                @Html.ActionLink("Log in!", "Login")
            </p>
        </div>

    }
</div>