﻿@model Elmboard.Core.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">RESET PASSWORD</p>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "has-error" })
        @Html.HiddenFor(model => model.Code)

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control underlined" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label class="control-label">Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control underlined", placeholder = "Enter password" })
            </div>
            <div class="col-sm-6">
                <label class="control-label">Confirm</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control underlined", placeholder = "Re-type password" })
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-block btn-primary" value="Reset" />
        </div>

    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}