﻿@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout_Auth.cshtml";
}

<div class="auth-content">
    <p class="text-center">PASSWORD RESET</p>
        <p class="text-muted text-center">
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
</div>

