﻿
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title mb-4">SEARCH</h3>
            </div>

            <p>Search is where you typically start your work with the application.</p>
            <p>Just type any string in the search text box and press ENTER or click the search icon.</p>
            <p>You can search for almost anything, for example in <strong>clients</strong> by surnames, telephone numbers and UTRs or in <strong>businesses</strong> by company numbers or addresses.</p>
            <p>The search engine will also look in <strong>relationships</strong> so clients and businesses related to found records will also be displayed in search results.</p>
            <p>Dates should be entered in "DD/MM/YYYY" format.</p>

        </div>
    </div>

