﻿    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title mb-4">ADMIN</h3>
            </div>
            <p>As the <strong>"Superadmin"</strong> of the application you have access to additional functionalities.</p>
            <p>You can rename and add items to the Library. Those items are visible in the dropdown lists when user creates or edits new clients &amp; businesses or relationships. Please note that when any item on the list is in use (is assigned to some clients or businesses), you will not be able to delete it, but you can still rename it.</p>
            <p>You can also manage the application users, change their passwords, unlock their access, assign roles to them as well as check who and when logged into the application.</p>
            <p class="mt-2">There are three roles for the application users defined in Elmboard:</p>
            <ul>
                <li><strong>User</strong> - can view and edit clients &amp; businesses and assign relationships;</li>
                <li><strong>Admin</strong> - in addition to User functions, can delete clients, businesses and relationships;</li>
                <li><strong>Superadmin</strong> - in addition to User and Admin functions can manage the users and Library.</li>

            </ul>
        </div>
    </div>
