﻿
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title mb-4">CUSTOMIZE</h3>
            </div>
            <p>In the bottom left corner of the application you can find the customize menu.</p>
            <p>Using the menu you can customize the color for all Elmboard controls as well as the behaviour of header, sidebar and footer.</p>
            <p><i>Static</i> means that the element will scroll along with text. <i>Fixed</i> means that it will stay in one place.</p>

        </div>
    </div>


