﻿
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title mb-4">CLIENTS AND BUSINESSES</h3>
            </div>
            <p><strong>Elmboard</strong> is an application for keeping and searching client records.</p>
            <p>To add new clients and businesses use the sidebar menu.</p>
            <p>You can add relationships between clients as well as between clients and their businesses.</p>
            <p>You can view a list of all clients or businesses, however the more efficient and powerful way of finding records is by using the Search textbox on top of the page.</p>
        </div>
    </div>

