﻿
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title mb-4">RELATIONSHIPS</h3>
            </div>
            <p>Relationships connect clients with other clients as well as clients with their businesses.</p>
            <p>You can view, add and delete relationships when viewing or editing the client's or business' record. To add a relationship pick a name of client/business, a name of relationship and click Save.</p>
            <p>Relationships allow quick access to the related record as well as affect Search which will return connected records.</p>
        </div>
    </div>

