﻿@model Elmboard.Areas.Businesses.ViewModels.BusinessDetailsViewModel

@{
    ViewBag.Title = Model.Business.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-6">
    <div class="card">
        <div class="card-block">
            <div class="card-title-block">
                <h3 class="title mb-4">ID: @Html.DisplayFor(model => model.Business.Id)</h3>
            </div>
            <div class="table-responsive">
                <table id="business-details-table" class="table table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.StatusId)</th>
                        <td>@Html.DisplayFor(model => model.Business.Status.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.LegalFormId)</th>
                        <td>@Html.DisplayFor(model => model.Business.LegalForm.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.Name)</th>
                        <td>@Html.DisplayFor(model => model.Business.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.StartDate)</th>
                        <td>@Html.DisplayFor(model => model.Business.StartDate)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.EndDate)</th>
                        <td>@Html.DisplayFor(model => model.Business.EndDate)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.Address)</th>
                        <td>@Html.DisplayFor(model => model.Business.Address), @Html.DisplayFor(model => model.Business.Postcode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.DateMovedIn)</th>
                        <td>@Html.DisplayFor(model => model.Business.DateMovedIn)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.CompanyNumber)</th>
                        <td>@Html.DisplayFor(model => model.Business.CompanyNumber)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.Utr)</th>
                        <td>@Html.DisplayFor(model => model.Business.Utr)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.VatNo)</th>
                        <td>@Html.DisplayFor(model => model.Business.VatNo)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.EPaye)</th>
                        <td>@Html.DisplayFor(model => model.Business.EPaye)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.EAccountsOffice)</th>
                        <td>@Html.DisplayFor(model => model.Business.EAccountsOffice)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.WebfilingEmail)</th>
                        <td>@Html.DisplayFor(model => model.Business.WebfilingEmail)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.WebfilingPassword)</th>
                        <td>@Html.DisplayFor(model => model.Business.WebfilingPassword)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.AuthenticationCode)</th>
                        <td>@Html.DisplayFor(model => model.Business.AuthenticationCode)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.BankAccountDetails)</th>
                        <td>@Html.DisplayFor(model => model.Business.BankAccountDetails)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.ESignaturePassword)</th>
                        <td>@Html.DisplayFor(model => model.Business.ESignaturePassword)</td>
                    </tr>
                    <tr>
                        <th colspan="2">@Html.DisplayNameFor(model => model.Business.Notes)</th>
                    </tr>
                    <tr>
                        <td class="notes-body" colspan="2">@Html.Raw(Model.Business.Notes)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.DateDisengaged)</th>
                        <td>@Html.DisplayFor(model => model.Business.DateDisengaged)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.DisengagementReasonId)</th>
                        <td>@Html.DisplayFor(model => model.Business.DisengagementReason.Name)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.DateArchived)</th>
                        <td>@Html.DisplayFor(model => model.Business.DateArchived)</td>
                    </tr>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Business.ArchiveNote)</th>
                        <td>@Html.DisplayFor(model => model.Business.ArchiveNote)</td>
                    </tr>
                </table>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Business.Id }, new { @class = "text-right" })
        </div>
    </div>
</div>

<div class="col-md-6">
    <div id="business-client-relationships" class="card" data-business-id="@Model.Business.Id">
        @Html.Partial("_BusinessClientRelationships", Model.BusinessClientRelationshipsViewModel)
    </div>

    @{
        if (Model.BusinessAddressChangesViewModel.BusinessAddressChanges.Count() > 0)
        {
            <div id="business-address-changes" class="card mt-3" data-business-id="@Model.Business.Id">
                @Html.Partial("_BusinessAddressChanges", Model.BusinessAddressChangesViewModel)
            </div>
        }
    }

</div>

@Html.AntiForgeryToken()

@section scripts
{
    @Scripts.Render("~/bundles/scripts-business-partials")
}