﻿@using System.Configuration
@model Elmboard.Areas.Businesses.ViewModels.BusinessEditViewModel

@{
    ViewBag.Title = Model.Business.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-6">
    <div class="card">
        <div class="card-block">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Business.Id)

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "has-error" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.StatusId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Business.StatusId, new SelectList(Model.Statuses, "Id", "Name"), "", new { @class = "form-control boxed" })
                        @Html.ValidationMessageFor(m => m.Business.StatusId, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.LegalFormId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Business.LegalFormId, new SelectList(Model.LegalForms, "Id", "Name"), "", new { @class = "form-control boxed" })
                        @Html.ValidationMessageFor(m => m.Business.LegalFormId, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.Name, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.Name, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.StartDate, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Business.StartDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Business.StartDate, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.EndDate, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Business.EndDate, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Business.EndDate, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.Address, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.Address, new { htmlAttributes = new { @class = "form-control boxed", placeholder = "Building number.." } })
                        @Html.ValidationMessageFor(m => m.Business.Address, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.Postcode, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.Postcode, new { htmlAttributes = new { @class = "form-control boxed", placeholder = "Postal code.." } })
                        @Html.ValidationMessageFor(m => m.Business.Postcode, "", new { @class = "has-error" })
                    </div>

                    <button type="button" id="get-business-address" class="btn btn-sm btn-primary-outline" data-apikey="@ConfigurationManager.AppSettings["GetAddressIoApiKey"]">Get address</button>
                    <button type="button" id="add-to-address-changes" class="btn btn-sm btn-primary-outline">Add to history</button>

                    <div id="address-list" class="form-group">
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.DateMovedIn, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Business.DateMovedIn, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Business.DateMovedIn, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.CompanyNumber, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.CompanyNumber, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.CompanyNumber, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.Utr, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.Utr, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.Utr, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.VatNo, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.VatNo, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.VatNo, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.EPaye, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.EPaye, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.EPaye, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.EAccountsOffice, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.EAccountsOffice, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.EAccountsOffice, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.WebfilingEmail, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.WebfilingEmail, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.WebfilingEmail, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.WebfilingPassword, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.WebfilingPassword, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.WebfilingPassword, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.AuthenticationCode, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.AuthenticationCode, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.AuthenticationCode, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.BankAccountDetails, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.BankAccountDetails, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.BankAccountDetails, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.ESignaturePassword, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.ESignaturePassword, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.ESignaturePassword, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.Notes, htmlAttributes: new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Business.Notes, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.Notes, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.DateDisengaged, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Business.DateDisengaged, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Business.DateDisengaged, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.DisengagementReasonId, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Business.DisengagementReasonId, new SelectList(Model.DisengagementReasons, "Id", "Name"), "", new { @class = "form-control boxed" })
                        @Html.ValidationMessageFor(m => m.Business.DisengagementReasonId, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.DateArchived, htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Business.DateArchived, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker boxed" })
                        @Html.ValidationMessageFor(m => m.Business.DateArchived, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Business.ArchiveNote, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(m => m.Business.ArchiveNote, new { htmlAttributes = new { @class = "form-control boxed" } })
                        @Html.ValidationMessageFor(m => m.Business.ArchiveNote, "", new { @class = "has-error" })
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div id="business-client-relationships" class="card" data-business-id="@Model.Business.Id">
        @Html.Partial("_BusinessClientRelationships", Model.BusinessClientRelationshipsViewModel)
    </div>

    <div id="business-address-changes" class="card mt-3" data-business-id="@Model.Business.Id">
        @Html.Partial("_BusinessAddressChanges", Model.BusinessAddressChangesViewModel)
    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/scripts-formcontrols")
    @Scripts.Render("~/bundles/scripts-business-partials")
    @Scripts.Render("~/bundles/scripts-datepicker")
}