﻿@using Elmboard.Models
@model IEnumerable<Elmboard.Areas.Businesses.Models.Business>

@{
    ViewBag.Title = "Business List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-block">
            <div class="table-responsive">
                <table id="businesses" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CompanyNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Utr)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.VatNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EAccountsOffice)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#businesses').DataTable({
                ajax: {
                    url: '/api/businesses',
                    dataSrc: ''
                },
                columns: [
                    {
                        data: 'id'
                    },
                    {
                        data: 'id',
                        data: 'name',
                        render: function (data, type, business) {
                            return '<a href="/businesses/businesses/details/' + business.id + '">' + business.name + '</a>';
                    }
                    },
                    {
                        data: 'companyNumber'
                    },
                    {
                        data: 'utr'
                    },
                    {
                        data: 'vatNo'
                    },
                    {
                        data: 'eAccountsOffice'
                    },
                    {
                        data: 'address',
                        data: 'postcode',
                        render: function (data, type, business) {
                            return business.address + ' ' + business.postcode
                        }
                    },
                    {
                        data: 'id',
                        render: function (data, type, business) {
                            var isAdmin = '@(User.IsInRole(RoleName.Admin) || User.IsInRole(RoleName.SuperAdmin) ? true : false)';
                            var editLink = '<a href="/businesses/businesses/edit/' + business.id + '">Edit</a>'
                            var deleteLink = '<a href="/businesses/businesses/edit/' + business.id + '">Edit</a>' + ' | ' +
                                '<a href="#" class="js-delete" data-business-id=' + data + '>Delete</a>'
                            return isAdmin === "True" ? deleteLink : editLink;
                            }
                    }
                ]

            });

            $('select').addClass('boxed');
            $('.form-control-sm').addClass('boxed');

            $('#businesses').on('click', '.js-delete', function () {
                var button = $(this);

                bootbox.confirm('Are you sure you want to delete this business?', function (result) {
                    if (result) {
                        $.ajax({
                            url: '/api/businesses/' + button.attr('data-business-id'),
                            method: 'DELETE',
                            success: function () {
                                table.row(button.parents('tr')).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}